<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/">TechBuzz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
      </ul>-->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login"> Login </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register"> Registration </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#"><span>{{loginUserName()}}</span></a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#" routerLink="/posts/new">
            <i class="fas fa-plus-circle" ></i> Add
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
